* {  
    
}

.slider {

    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    overflow: hidden;


}


.slider-images {
    display: flex;
    flex: 100%;
    width: 400%;
    flex-direction: row;


} 

.pic {
    width: 25%;
}



.descriptions {
    display: flex;
    width: 50%;
    flex: 50%;
    justify-content: flex-start;
}

.description-container {
    width: 400%;
    display: flex;
    flex-shrink: 0;

}

.slider-text {
    height: 100%;
    width: 25%;
}   

.labels {
    width: 50%;
    flex: 50%;
    justify-content: flex-end;
    display: flex;
    background-color: #fff;
    z-index: 1;
}

.labels label {
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin: 15px;
    background-color: tomato;
    color: tomato;
    border-radius: 50%;
}


input[type='radio'] {
     display: none;
}


#btn1:checked ~ .slider .slider-images  {
  margin-left: 0px;
  transition: all 0.6s ease-in-out;
}
#btn2:checked ~ .slider .slider-images  {
  margin-left: -100%;
  transition: all 0.6s ease-in-out;
}

#btn3:checked ~ .slider .slider-images 
 {
  margin-left: -200%;
  transition: all 0.6s ease-in-out;

}
#btn4:checked ~ .slider .slider-images  {
  margin-left: -300%;
  transition: all 0.6s ease-in-out;

}


#btn1:checked ~ .slider .descriptions .description-container  {
    margin-left: 0px;
    transition: all 0.6s ease-in-out;
  }
#btn2:checked ~ .slider .descriptions .description-container  {
    margin-left: -100%;
    transition: all 0.6s ease-in-out;
  }
  
#btn3:checked ~ .slider .descriptions .description-container 
   {
    margin-left: -200%;
    transition: all 0.6s ease-in-out;
  
  }
#btn4:checked ~ .slider .descriptions .description-container  {
    margin-left: -300%;
    transition: all 0.6s ease-in-out;
  
  }
  



@media screen and (max-width:420px) {
    .slider {
        max-width: 350px;
    }

}


